<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Afacad:wght@500&family=Montserrat&family=Poppins&family=Quicksand:wght@600&family=Rubik:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="manifest" href="./app.webmanifest" />
    <link rel="icon" href="./logo.png" />
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>LEZATARA</title>
  </head>
  <body>
    <!-- App Bar (Navigation Bar) -->
    <header class="app-bar">
      <div class="app-bar__menu">
        <a href="/">
          <img src="./logo.png" alt="Lezatara Logo" class="app-logo" />
        </a>
      </div>
      <div class="search-form">
        <input id="query" type="search" placeholder=" Search" />
        <label for="search-box" class="fas fa-search"></label>
      </div>
      <button id="hamburgerButton">☰</button>
    </header>
    <main>
      <nav id="navigationDrawer">
        <div class="navMenu">
          <ul class="nav-menu">
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item"><a href="#/recipes">Recipes</a></li>
            <li class="nav-item"><a href="#/favorite">Favorite</a></li>
            <li class="nav-item"><a href="#/about">About</a></li>
          </ul>
        </div>
      </nav>
    </main>

    <main id="mainContent"></main>
    <div id="searchResultsContainer"></div>
    <!-- Footer -->
    <footer>
      <div class="footer">
        <div class="trademark">
          <div class="app-logo">Lezatara</div>
          <p>Lezatara will help you make cooking easier and more tasty.</p>
          <hr />
          <p>@2023 Lezatara. All Right Reserved</p>
        </div>

        <div class="contact">
          <h2>Contact</h2>
          <p><img src="./phone.svg" alt="" />(0286) 411 467</p>
          <p><img src="./mail-01.svg" alt="" />lezatara@indo.com</p>
        </div>
      </div>
    </footer>
    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  </body>
</html>
