/* Media Queries untuk menyesuaikan border pada layar yang berbeda */
@media screen and (max-width: 768px) {
  /*app-bar*/
  .app-bar {
    padding: 10px 3%;
    height: 55px;
  }

  .app-logo {
    max-height: 60px;
  }

  .search-form input {
    max-width: 50vw;
  }

  .search-form input[type='search'] {
    font-size: 0.9rem;
  }

  /*navigation*/
  #navigationDrawer {
    transform: translateY(-100%); /* Sembunyikan menu saat awalnya */
    transition: transform 0.5s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    height: 20%;
    width: 100%;
    background: #ef9595;
    z-index: 99;
    padding: 20px 0;
  }

  #navigationDrawer.open {
    transform: translateY(0);
  }

  #hamburgerButton {
    display: block; /* Tampilkan tombol hamburger di mobile */
  }

  /* Tambahkan gaya untuk menyembunyikan menu saat tombol hamburger diklik */
  #navigationDrawer ul {
    display: none;
  }

  /* Tampilkan menu ketika tombol hamburger diklik */
  #navigationDrawer.open ul {
    display: block;
  }

  /* Tambahkan gaya lainnya untuk tata letak dan tampilan navigasi di perangkat mobile */
  #navigationDrawer a {
    font-size: 14px;
    /* Sesuaikan gaya sesuai kebutuhan untuk tampilan mobile */
  }
  #navigationDrawer a:active {
    color: #fff5e0;
    border-bottom: 5px solid #fff5e0;
  }

  /*home*/
  .hero {
    padding: 1px 8%;
    height: auto;
    min-height: 390px;
  }

  .hero h1 {
    font-size: 40px;
  }

  .hero h2 {
    font-size: 18px;
  }

  .image-hero .img-hero {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  .content {
    padding: 10px; /* Mengurangi padding pada layar kecil */
  }

  .blog {
    flex-direction: column; /* Ubah menjadi tata letak kolom */
    height: auto;
    padding: 10px;
  }

  .blog > div {
    width: 100%;
    margin-bottom: 10px; /* Berikan ruang antara elemen */
    text-align: center;
  }

  .blog > img {
    max-width: 100%; /* Mengisi lebar konten */
    height: auto;
  }

  .blog p {
    font-size: 14px;
  }

  .card {
    /* flex: 0 0 100%;
    margin-bottom: 15px; */

    flex: 0 0 calc(100% - 20px);
  }

  .card-image {
    height: 100px;
    width: 100px;
  }

  .name a {
    font-size: 16px;
  }

  .description {
    font-size: 12px;
    -webkit-line-clamp: 2;
  }

  .button {
    font-size: 12px;
    padding: 5px 10px;
    margin: 6px;
  }

  /*detail recipe*/
  .result {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr; /* Menggunakan satu kolom untuk tata letak ponsel */
    gap: 18px 16px;
    padding: 32px;
  }

  .result .result-name {
    grid-column: 1 / span 1;
    font-weight: bold;
    margin: 0;
  }

  .result-picture {
    height: 100%;
    width: 83%; /* Lebar gambar 100% untuk mengisi kolom */
    border-radius: 8px; /* Untuk sudut yang lebih lembut */
  }

  .result-description {
    grid-column: 1 / span 1;
  }

  .result-description h3 {
    margin: 8px 0;
  }

  .result-description p {
    text-align: justify;
    margin-right: 70px;
  }

  .result-info h3 {
    margin: 8px 0;
  }

  .ingredients-list {
    list-style-type: none;
    padding: 0;
  }

  .result-steps {
    padding-left: 20px;
    margin-right: 70px;
    text-align: justify;
  }

  .ingredients-list li,
  .result-steps li {
    margin-bottom: 5px;
  }

  /* page recipes */
  .islands {
    display: flex;
    flex-wrap: wrap;
  }

  .result-item {
    flex-grow: 3;
    flex-basis: 200;
  }

  /* detail region */

  .region {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  /*about*/
  .about-container > p {
    text-align: justify;
  }
  .members {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .profile-pic {
    width: 80px;
    height: 80px;
  }

  .member {
    padding: 15px;
  }

  /*footer*/
  .footer {
    padding: 5px 5%;
  }

  .contact > p > img {
    width: 15%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .app-bar {
    padding: 5px 8%;
    height: 60px;
  }

  /*home*/
  .hero {
    padding: 1px 12%;
    height: 350px;
  }

  .hero h1 {
    font-size: 50px;
  }

  .hero h2 {
    font-size: 22px;
  }

  .image-hero {
    height: 250px;
    width: 300px;
  }

  .blog {
    height: 180px;
  }

  .blog > img {
    width: 60%;
    height: 180px;
  }

  .content {
    flex-direction: column;
    align-items: flex-start;
  }

  .card {
    flex: 0 0 calc((100% - 2 * 20px) / 3);
  }

  .card-image {
    height: 120px;
    width: 120px;
  }

  .button {
    font-size: 14px;
    padding: 6px 12px;
    margin: 8px;
  }

  /*footer*/
  .footer {
    padding: 5px 8%;
  }

  .contact > p > img {
    width: 12%;
  }
}

@media screen and (min-width: 1024px) {
  /* Atur responsifitas untuk lebar layar besar di sini */
  .hero {
    padding: 1px 20%;
  }

  .hero h1 {
    font-size: 60px;
  }

  .hero h2 {
    font-size: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .members {
    grid-template-columns: repeat(5, 1fr); /* Dua anggota per baris */
  }
}
