body {
  padding: 0;
  margin: 0;
  background-color: #fff5e0;
}

#mainContent {
  scroll-behavior: smooth;
}

.app-bar {
  position: sticky;
  top: 0;
  z-index: 99;
  padding: 5px 5%;
  height: 55px;
  display: flex;
  align-items: center;
  background-color: #ef9595;
  justify-content: space-between;
  box-shadow: hsla(0 0% 0% / 0.1) 0 0 0.9rem 0.1rem;
}

.app-logo {
  max-height: 90px;
}

.nav-menu {
  display: flex;
  gap: 70px;
}

.search-form {
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  background-color: white;
}

.search-form input[type='search'] {
  width: 30vw;
  margin-left: 0rem;
  margin-right: 1rem;
  background: transparent;
  font-size: 1rem;
  color: hsl(252, 30%, 17%);
  border: none;
  border-radius: 0.5rem;
  font-family: 'Rubik', sans-serif;
}

.search-form .fas.fa-search {
  position: absolute;
  right: 10px;
  font-size: 1.2rem;
  color: #efb495;
  cursor: pointer;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 15%;
  height: 390px;
  background-color: #fff5e0;
  margin-bottom: 10px;
}

.hero h1 {
  font-size: 60px;
  font-weight: bold;
  font-family: 'Quicksand', serif;
  margin-bottom: 20px;
}

.hero h2 {
  font-family: 'Montserrat', serif;
  font-size: 25px;
  margin-bottom: 20px;
}

.image-hero {
  height: 300px;
  width: 400px;
  border-radius: 40%;
  background: #ed7b7b;
  padding: 9px;
  overflow: hidden;
  margin-bottom: 20px;
}

.image-hero .img-hero {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

#navigationDrawer {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  align-items: center;
  transform: translateY(-730px);
  transition: transform 0.5s ease-in-out;
  background: #ef9595;
  z-index: 99;
}

#navigationDrawer.open {
  transform: translateY(-70px);
}

#navigationDrawer ul {
  list-style-type: none;
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

#navigationDrawer li {
  margin-bottom: 10px; /* Adjust spacing between menu items */
}

#navigationDrawer a {
  font-family: 'Quicksand', serif;
  text-decoration: none;
  font-size: 30px;
  font-weight: bolder;
  color: #000000;
  transition: ease-in;
  transition-duration: 300ms;
  border-bottom: 1px solid #ffcb0e00;
  display: block; /* Ensure each link takes full width */
  padding: 10px; /* Add padding for better touch/click experience */
}

#navigationDrawer a:hover {
  color: #fff5e0;
  border-bottom: 5px solid #fff5e0;
}

#hamburgerButton {
  font-size: 32px;
  color: white;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

#hamburgerButton:hover {
  color: #000000;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  gap: 2%;
  background-color: #ef9595;
}

.blog > div {
  width: 100%;
  font-family: 'Rubik', sans-serif;
  font-size: 23px;
  color: #000000;
}

.blog > img {
  object-fit: cover;
  width: 75%;
  height: 150px;
  background-color: #ed7b7b;
}

.blog p {
  width: 100%;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.5;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-size: xx-large;
}

.slide-container {
  width: 100%;
  height: 100%;
  /* padding-bottom: 35px; */
}
.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.slide-content {
  padding: 20px;
  width: 90%;
  justify-content: center;
  margin: 0 auto;
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px 14px;
}

.card {
  flex: 0 0 calc((100% - 3 * 15px) / 3);
  border-radius: 25px;
  background-color: #fff5e0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 25px 25px 0 25px;
}

.image-content {
  row-gap: 5px;
  padding: 25px 0;
}

.overlay {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #ed7b7b;
  border-radius: 25px 25px 0 25px;
}

.card-image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #fff5e0;
  padding: 3px;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.name a {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

.description {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  color: #000000;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.button {
  border: none;
  font-size: 16px;
  padding: 8px 16px;

  background-color: #ed7b7b;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: 'Rubik', sans-serif;
}

.button:hover {
  background: #ed7b7b;
}

.button a {
  color: #000000;
  text-decoration: none;
}

.button a:hover {
  color: #fff5e0;
}
/**/
.result {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 18px 16px;
  padding: 32px;
}

.result .result-name {
  grid-column: 1 / span 2;
  font-weight: bold;
  margin: 0;
}

.result-picture {
  height: 100%;
  width: 85%;
  grid-column: 1;
  border-radius: 8px;
}

.result-description h3 {
  margin: 0;
  grid-column: 2;
}

.result-description p {
  text-align: justify;
}

.result-info h3 {
  margin: 8px 0;
}

.ingredients-list {
  list-style-type: none;
  padding: 0;
}

.result-steps {
  padding-left: 20px;
  text-align: justify;
}

.ingredients-and-picture {
  display: grid;
  grid-template-columns: 1fr; /* Kolom tunggal pada layar kecil */
  gap: 16px;
}

.ingredients,
.result-picture {
  width: 100%;
}

.ingredients-list li,
.result-steps li {
  margin-bottom: 5px; /* Jarak antara setiap bahan atau langkah */
}

/* recipes-page */

.contentDetail {
  margin: 0 auto;
  min-height: 100%;
}

.islands {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 32px;
  padding-left: 80px;
  padding-right: 80px;
}

.region {
  display: grid;
  grid-template-columns: auto;
  margin: 32px 100px;
  gap: 40px;
  padding-left: 150px;
  padding-right: 150px;
}

/* region item template */
.result-item {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 18px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #ed7b7b; */
}

.result-item-region {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 18px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #ed7b7b; */
}

.result-item-header {
  position: relative;
}

.result-item-picture {
  padding-top: 30px;
  width: 60%;
  object-fit: cover;
  border-radius: 18px;
}

.result-item-picture-islands {
  padding-top: 30px;
  width: 60%;
  object-fit: cover;
  border-radius: 48px/16px;
}

.result-item-picture-region {
  padding-top: 30px;
  width: 30%;
  object-fit: cover;
  border-radius: 50%;
}

.result-item .result-content {
  padding: 16px;
  text-align: center;
}

.result-item-region .result-content-region {
  padding: 16px;
  padding-left: 32px;
  padding-right: 32px;
  text-align: center;
}

.result-item .result-content h2 {
  margin: 0 0 10px 0;
  align-items: center;
}

.result-item .result-content h2 a {
  color: #000000;
  text-decoration: none;
}

.result-item .result-content p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.result-item .result-content .button {
  margin-top: 10px; /* Mengatur jarak antara teks dan tombol */
}

/**/
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5%;
  background-color: #ef9595;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  font-size: 12px;
}

.contact {
  display: block;
}

.contact h2 {
  font-size: 1rem;
}

.contact > p {
  display: flex;
  gap: 10px;
}

.contact > p > img {
  width: 10%;
  font-weight: bold;
}

/* Style untuk profil tim */
.about-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.team {
  margin-top: 20px;
}

.title {
  font-size: 24px;
  margin-bottom: 15px;
  text-align: center;
}

.members {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tiga anggota per baris */
  grid-gap: 20px;
  padding: 20px;
}

.member {
  border-radius: 8px;
  border: 2px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.member:hover {
  background-color: #ef9595;
}

.profile-pic {
  width: 100px; /* Sesuaikan ukuran foto profil */
  height: 100px; /* Sesuaikan ukuran foto profil */
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-bottom: 10px;
}

.member h3 {
  margin-top: 0;
  font-size: 18px;
  text-align: center;
}

.member ul {
  padding: 0;
  list-style: none;
}

.member ul li {
  margin-bottom: 8px;
}

.member ul li a {
  text-decoration: none;
  color: #333;
}

.member ul li a:hover {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.member:hover {
  transform: scale(1.1);
}

.member .profile-pic {
  transition: transform 0.3s ease-in-out;
}

.member:hover .profile-pic {
  transform: scale(1.1);
}

.social-links {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
  margin-top: 15px;
}

/* Icon LinkedIn */
.social-links .fab.fa-linkedin {
  filter: grayscale(100%); /* Membuat ikon menjadi hitam */
  transition: filter 0.3s ease-in-out; /* Transisi saat hover */
}

.social-links .fab.fa-linkedin:hover {
  filter: none; /* Menghapus filter grayscale saat dihover */
  background-color: #0077b5; /* Warna latar belakang LinkedIn */
  color: #ffffff; /* Warna ikon (putih) saat dihover */
}

/* Icon GitHub */
.social-links .fab.fa-github {
  filter: grayscale(100%); /* Membuat ikon menjadi hitam */
  transition: filter 0.3s ease-in-out; /* Transisi saat hover */
}

.social-links .fab.fa-github:hover {
  filter: none; /* Menghapus filter grayscale saat dihover */
  background-color: #ffffff; /* Warna latar belakang GitHub */
  color: #000000; /* Warna ikon (hitam) saat dihover */
}

/* Icon Instagram */
.social-links .fab.fa-instagram {
  filter: grayscale(100%); /* Membuat ikon menjadi hitam */
  transition: filter 0.3s ease-in-out; /* Transisi saat hover */
}

.social-links .fab.fa-instagram:hover {
  filter: none; /* Menghapus filter grayscale saat dihover */
  background: linear-gradient(
    to right,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d,
    #f56040,
    #f77737,
    #fcaf45,
    #ffdc80
  ); /* Warna latar belakang Instagram (gradient warna asli) */
  color: #ffffff; /* Warna ikon (putih) saat dihover */
}

.social-links li {
  margin-right: 10px;
}

.social-links i {
  font-size: 20px; /* Sesuaikan ukuran ikon sesuai kebutuhan */
}

.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db0000;

  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;

  font-size: 18px;
  color: white;
  cursor: pointer;
}

/* DETAIL REVIEW */
.detail-review {
  max-width: 100%;
  font-size: 1em;
  text-align: center;
}

.detail-review-item {
  color: black;
  background-color: lightyellow;
  margin-bottom: 1.5em;
  padding: 1em 1em;
}

.detail-review-item:last-child {
  margin-bottom: 0;
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1em;
  color: #ed7b7b;
  border-bottom: 1px solid black;
}

.review-name {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.review-date {
  font-size: 0.8em;
  font-weight: lighter;
}

.review-body {
  padding: 1em;
  text-align: left;
}

/* FORM */
form {
  margin: 2em 0;
  padding: 50px;
  border: 3px dotted #ed7b7b;
  border-radius: 0 15px 0 15px;
}

.form-control {
  display: block;
  width: 100%;
  min-height: 1em;
  padding: 15px 15px 15px 15px;
  font-size: 1em;
  font-weight: normal;
  color: black;
  background-color: #fff;
  appearance: none;
  outline: none;
  border: 1px solid transparent;
  border-bottom: 1px solid #fff5e0;
}

.form-label {
  padding-bottom: 10px;
  font-weight: bold;
  font-style: normal;
  font-size: small;
  color: #ef9595;
}

.mb-3 {
  margin-bottom: 1.3em;
  margin-top: 0.5em;
}

.submit-btn {
  padding: 15px 15px 15px 15px;
  font-weight: 700;
  color: white;
  text-align: center;
  vertical-align: middle;
  background-color: #ef9595;
  border: 1px solid transparent;
  font-size: large;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover,
.submit-btn:hover {
  background-color: #ed7b7b;
}
